---
title: GitLab Documentation
---
<div class="row">
  <ul class="main-topics" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
    <% if ENV['NANOC_ENV'] == 'production' %>
      <% @config[:products].each do |name, product| %>
        <% if product[:expose] == true %>
          <li>
            <a itemprop="url" href="<%= @items["/#{product[:slug]}/#{product[:index_file]}"].path %>">
              <div class="wrapper flex-container flex-column">
                <img src="<%= product[:img] %>" alt="<%= product[:short_name] %> line logo">
                <div class="topic-info">
                  <h2 itemprop="name"><%= product[:short_name] %></h2>
                  <p><%= product[:description] %></p>
                </div>
              </div>
            </a>
          </li>
        <% end %>
      <% end %>
    <% else %>
      <% @config[:products].each do |name, product| %>
        <% if Dir.exist?("#{@config[:content_dir]}/#{product[:slug]}")%>
          <li>
            <a itemprop="url" href="<%= @items["/#{product[:slug]}/#{product[:index_file]}"].path %>">
              <div class="wrapper flex-container flex-column">
                <img src="<%= product[:img] %>" alt="<%= product[:short_name] %> line logo">
                <div class="topic-info">
                  <h2 itemprop="name"><%= product[:short_name] %></h2>
                  <p><%= product[:description] %></p>
                </div>
              </div>
            </a>
          </li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>
<div class="popular-topics">
  <h1>Most popular topics</h1>
  <div class="topics-container flex-container">
  <!-- The links below are absolute so they are valid without needing the GitLab project in place -->
    <a class="topic" href="https://docs.gitlab.com/ee/user/project/import/index.html">
      <h4>Moving to GitLab</h4>
      <p>Learn how to migrate your projects to GitLab.com or your own GitLab instance</p>
    </a>
    <a class="topic" href="https://docs.gitlab.com/ee/ci/yaml/README.html">
      <h4>CI/CD YAML reference</h4>
      <p>Learn how to configure gitlab-ci.yml for your project</p>
    </a>
    <a class="topic" href="https://docs.gitlab.com/ee/api/README.html">
      <h4>API</h4>
      <p>Automate GitLab via a simple and powerful API</p>
    </a>
    <a class="topic" href="https://docs.gitlab.com/ee/ssh/README.html">
      <h4>SSH</h4>
      <p>Learn how to create an SSH key pair and configure GitLab to authenticate via SSH from your local computer</p>
    </a>
    <a class="topic" href="https://docs.gitlab.com/ee/user/gitlab_com/index.html">
      <h4>GitLab.com Settings</h4>
      <p>Information about the settings that are used on GitLab.com, like SSH keys fingerprints, shared Runners configuration, etc.</p>
    </a>
  </div>
</div>
